@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <link href="~/css/styles.css" rel="stylesheet" />
        <title>Slice</title>
    
    </head>
    <body id="hero">
        <div class="text-center">
            <h1 class="display-4">Slice</h1>
            <p><a asp-page="MenuPizza">Voir le menu des pizzas</a></p>
        </div>
    </body>
</html>


